#header {
    display: flex;
}

#logo {
    border: 1px solid;
    padding: 2px;
}

#bread-crumb {
    display: flex;
}

#bread-crumb p, #bread-crumb div {
    font-size: 5px;
    margin: 10px 5px 0 5px;
}

#content {
    display: flex;
    min-height: 460px;
}

#leftColumn {
    border: 1px solid red;
    width: 20%;
}

#middleColumn {
    border: 1px solid blue;
    width: 50%;
}

#rightColumn {
    border: 1px solid green;
    width: 30%;
}